h1.well {
  background-color: pink;
}

li {
  font-size: 1.5em;
}

.form-group {
  margin-left: 5vh;
}

#numberList {
  color: blue;
  font-family: fantasy;
  margin-top: 5vh;
}

video {
  display: none;
  float: right;
}
